/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

#week-navigation {
    margin: 20px;
}

#week-navigation button {
    padding: 10px;
    margin: 0 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#week-navigation span {
    font-size: 18px;
    font-weight: bold;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.day {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.event {
    background-color: #4caf50;
    color: white;
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
    font-size: 12px;
    text-align: left;
}

input[type="file"] {
    margin: 20px 0;
}
